
.env
# TEST FILES
*.ipynb
*.txt

# IDE FILES
.vscode
.idea

# CACHES
*__pycache__/
.mypy_cache
# LOG FILES
*.log
# SUBMODULES
IBDCluster/log/README.md

# BUILD DIRECTORIES
/dist/

# FILES THAT CAN'T BE UPLOADED
./tests/test_true_results/biovu_longQT.DRIVE.txt
./tests/test_inputs/biovu_longQT_EUR_chr21.ibd.gz
tests/test_kcne_inputs/

